body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 40px;
    height: 30px;
}

.orange-color {
    color: rgb(137, 11, 11);
}

.flexiable-conteiner {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 2%;



}

.half-width img {
    width: 80%;
}

.link-anchor {
    background-image: linear-gradient(red, salmon);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px;
    text-decoration: none;
}

#back-img {
    background-image: url(Frame\ 58.jpg);
    padding: 60px;
}

.third-width {
    width: 33%;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

.third-width img {
    width: 70%;
}

.third-sec h2 {
    text-align: center;
}

.forth-width h2 {
    font-weight: bold;

}

.forth-width {
    width: 33%;
}

.forth-sec {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding-left: 20px;
}

.last-class {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 10px 30px;

}

footer h2 {
    font-weight: 700;
    color: lightslategrey;


}

.last-color {
    color: crimson;
}